<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="tests" thread-count="3"
          name="EFL">
        <parameter name="testng.xml" value=""></parameter>
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="sanity"></include>-->
<!--&lt;!&ndash;            <include name="regression"></include>&ndash;&gt;-->
<!--                <exclude name="regression"></exclude>-->
<!--            </run>-->

<!--        </groups>-->
        <classes>
            <class name="com.eurekaforbes.testCases.LoginPageTC_001">
            </class>
        </classes>
    </test>
</suite>